@import 'colors';
@import 'movies';
body{
  background: $primary;
  position: relative;
}
.basket{
  color:#fff;
  font-size: 20px;
  position: absolute;
  top:30px;
  right:20px;
  width:50px;
  height:50px;
  border-radius: 50%;
  background: $bluedark;
  text-align: center;
  line-height: 50px;
}
#searcharea{
  margin: 0 auto;
  text-align: center;
  background: $bluedark;
  padding: 10px;
  width:30%;
  border-radius: 10px;
  outline: none;
}
#searcharea p,#searcharea h1{
  color:$secondary;
}
#searcharea input{
  width:80%;
  text-align: center;
}
