@import 'colors';
@import 'container';
html{
  margin:0 auto;
}
main{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.blocks{
  width:300px;
  background: $secondary;
  height: 50px;
  color:black;
  padding: 0px;

}
.blocks.dragging{
  background: rgba(0, 0, 0, 0.5);
}
img{
  position: absolute;

  z-index: 1;
}
