@import 'colors';
@import 'movies';
body{
  background: $primary;
}
#searcharea{
  margin: 0 auto;
  text-align: center;
  background: $bluedark;
  padding: 10px;
  width:30%;
  border-radius: 10px;
  outline: none;
}
#searcharea p,#searcharea h1{
  color:$secondary;
}
#searcharea input{
  width:80%;
  text-align: center;
}
