@import 'colors';
#output{
  width: 70%;
  margin: 0 auto;
  border-top: 3px dotted $secondary;
}
#output ul{
  list-style: none;
  margin: 0px;
  padding: 0px
}
#output ul li{
  width:100%;
  background: $secondary;
  padding: 0 20px;
  padding-bottom: 10px;
  height:110px;
  overflow: hidden;
  border-bottom: 2px solid rgba(31, 45, 65, 0.03);;
  transition: height .6s ease-out;
}
#output ul li:hover{
  min-height: 110px;
  height: 200px;
  overflow: visible;
}
#output ul li img{
  float:left;
  width:100px;
  margin-right: 10px;
  border-radius: 10px;
}
#output ul li h2{
  color: grey;//$bluedark;
}
#output ul li p{
  font-size: 16px;
  color: grey;
}
