@import 'colors';
#output{
  width: 70%;
  margin: 0 auto;
  border-top: 3px dotted $secondary;
}
#output ul{
  list-style: none;
  margin: 0px;
  padding: 0px
}
#output ul li a{
  text-decoration: none;
}
#output ul li a:hover{
  background:rgba(0,0,0,.8);
  .addTo{
    opacity: 1;
  }
}
#output ul li{
  width:100%;
  background: $secondary;
  padding: 1em;
  margin:0px;
  height:180px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
#output ul li .addTo{
  opacity: 0;
  color:black;
  position: absolute;
  top:10px;
  right: 15px;
  font-size: 20px;

}
#output ul li .addTo:hover{
  opacity:1;

}
#output ul li img{
  float:left;
  width:100px;
  margin-right: 10px;
  border-radius: 10px;
}
#output ul li h2{
  color: grey;
}
#output ul li p{
  font-size: 16px;
  color: grey;
}
